h1 {
  font-size: 68px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 43px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 21px;
}

p {
  font-size: 18px;
}

small {
  font-size: 14px;
}

/* NAV */
header nav.row {
  padding: 8px 132px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header a.row {
  width: fit-content;

  align-items: center;
}

header a.row i {
  color: var(--color-white);
  
  font-size: 32px;
}

header a.row small {
  color: var(--color-white);

  font-weight: 500;
}

header nav .imgs {
  width: 100%;

  align-items: center;
  justify-content: center;
}

header nav .img:first-child img {
  width: 40px;
  height: 40px;
}

header nav .img:last-child img {
  width: 128px;
  height: 40px;
}

/* SECTION - HERO */
#hero .video {
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .video > i {
  margin: -80px auto 0;

  color: var(--color-gray);

  font-size: 80px;

  cursor: pointer;
}

#hero .video p {
  margin-top: 4px;

  color: var(--color-gray);
}

#hero .video .img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: -64px;
  left: 0;
  
  z-index: -2;
}

#hero .video .img img {
  object-fit: cover;
}

#hero .video .img::after {
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(180deg, #000 0%, rgba(68, 0, 81, 0.00) 0.01%, #440051 80%), 50% / cover no-repeat;

  content: '';
}

.show {
  display: flex;

  transition: all 300ms ease-in;
}

.hide {
  display: none;

  transition: all 300ms ease-out;
}

#hero .video video {
  position: absolute;
  top: -64px;
  left: 0;
  
  z-index: -2;
}

#hero .video video,
#hero .video video source {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.cancel {
  width: 52px;
  height: 52px;

  background-color: var(--color-black);

  position: absolute;
  top: -32px;
  left: 32px;
  padding: 8px;

  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 8px 0px var(--color-black);

  border-radius: 50%;

  cursor: pointer;
  z-index: 10;
}

.cancel i {
  color: var(--color-pink);
  
  font-size: 32px; 
}

#hero .column.cta {
  width: 776px;

  position: absolute;
  bottom: 48px;
}

#hero .column.text {
  gap: 4px;
}

#hero .column.text h4,
#hero .column.text p {
  text-align: center;

  color: var(--color-white);
}

#hero .column.cta {
  gap: 8px;
}

#hero .column.cta i {
  background-color: var(--color-purple);
  color: var(--color-gray);

  border-radius: 100px;

  font-size: 64px;
}

/* SECTION - BENEFITS */
#benefits .container {
  padding: 0 0 64px;
}

#benefits .column.main {
  gap: 32px;
}

#benefits .column.items {
  gap: 32px;
}

#benefits .column.item {
  gap: 16px;
}

#benefits .column.title {
  width: 576px;

  gap: 4px;
}

#benefits .column.title i {
  color: var(--color-purple);
  
  font-size: 76px;
}

#benefits .column.title h6 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#benefits .row.items {
  padding: 16px;

  justify-content: center;
  gap: 24px;

  background: linear-gradient(90deg, #E8E8E8 0%, #C2D0E2 50%, #E8E8E8 100%);
}

#benefits .row.item {
  width: 376px;

  align-items: center;
  gap: 24px;
}

#benefits .row.item .img,
#benefits .row.item .img img {
  width: 76px;
  height: 76px;

  border-radius: 4px;

  box-shadow: 0px 4px 8px 0px rgba(26, 18, 28, 0.25);
}

#benefits .row.item p {
  font-weight: 700;
}

#benefits .container > .img {
  position: absolute;
  top: 69px;
  right: 0;

  filter: drop-shadow(0px 8px 16px rgba(26, 18, 28, 0.50));
}

#benefits .container > .img,
#benefits .container > .img img {
  width: 408px;
  height: 221px;
}

#benefits .container > .img img {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
    filter: drop-shadow(0px 8px 16px var(--color-blue));
  }

  100% {
    transform: rotate(0deg);
  }
}

/* SECTION - INHOME */
#inhome .column.main {
  gap: 64px;
}

#inhome .column.items {
  gap: 24px;
}

#inhome .row.items {
  gap: 100px;
}

#inhome .row.items:first-child {
  justify-content: flex-start;
}

#inhome .row.items:last-child {
  justify-content: flex-end;
}

#inhome .row.item {
  width: fit-content;

  padding: 0 24px 0 0;

  gap: 24px;

  background: linear-gradient(97deg, #E8E8E8 0%, rgba(232, 232, 232, 0.30) 100%);

  border-radius: 4px;
}

#inhome .row.item .img,
#inhome .row.item .img img {
  width: 176px;
  height: 176px;
  
  border-radius: 4px 0 0 4px;
}

#inhome .row.item .img img {
  box-shadow: 4px 0px 8px 0px rgba(68, 0, 81, 0.25);
}

#inhome .row.item .column.text {
  width: 276px;

  gap: 8px;
}

#inhome .row.item .column.text h5,
#inhome .row.item .column.text p {
  width: 100%;
  
  color: var(--color-purple);

  text-align: left;
}

#inhome .row.item .column.text h5 {
  padding: 0 0 4px;
  
  border-bottom: 2px solid var(--color-pink);

  text-transform: uppercase;
  font-weight: 700;
}

#inhome .column.cta {
  gap: 32px;
}

#inhome .column.ship {
  width: 176px;

  padding: 8px 0 0;

  gap: 8px;

  background-color: var(--color-purple);
  border: 2px solid var(--color-purple);
  box-shadow: 0px 4px 4px 0px rgba(26, 18, 28, 0.25) inset;

  border-radius: 4px;
}

#inhome .column.ship h5 {
  color: var(--color-white);
  
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#inhome .column.ship p {
  padding: 8px 16px;

  background-color: var(--color-white);
  color: var(--color-purple);
  box-shadow: 0px 0px 8px 0px #1A121C;

  border-radius: 4px;

  text-align: center;
  font-weight: 500;
}

#inhome .container > .img {
  position: absolute;
  right: 0;
  bottom: 0;

  animation: hand 4s linear infinite;
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
    filter: drop-shadow(0px 8px 16px #1a121c33);
  }

  100% {
    transform: rotate(0deg);
  }
}

#inhome .container > .img,
#inhome .container > .img img {
  width: 308px;
  height: 431px;
}

/* SECTION - FEEDBACKS */
#feedbacks .container {
  padding: 64px 132px 144px;
}

#feedbacks .column.main {
  gap: 64px;
}

#feedbacks .column.carousel {
  justify-content: center;
  gap: 32px;

  z-index: 2;
}

#feedbacks .row.carousel {
  justify-content: center;
  gap: 124px;
}

#feedbacks .row.item {
  width: fit-content;
}

#feedbacks .row.item:not(.central-card) {
  filter: blur(4px);

  transform: scale(.8);
  user-select: none;
}

#feedbacks .row.item i {
  position: absolute;
  
  color: var(--color-pink);

  font-size: 32px;

  z-index: 2;
}

#feedbacks .row.item i:first-child {
  top: -16px;
  left: -16px;
}

#feedbacks .row.item i:last-child {
  right: -16px;
  bottom: -16px;
}

#feedbacks .column.text {
  width: 576px;

  padding: 8px 32px;

  gap: 16px;

  background: linear-gradient(180deg, var(--color-gray) 0%, rgba(194, 208, 226, 0.50) 100%);
  border: 3px solid var(--color-gray);

  border-radius: 4px;
}

#feedbacks .column.text h6 {
  color: var(--color-purple);
  
  text-align: center;
  font-weight: 700;
}

#feedbacks .column.text p {
  text-align: center;
}

#feedbacks .arrows {
  justify-content: center;
  gap: 24px;
}

#feedbacks .arrows i {
  color: var(--color-purple);

  font-size: 24px;

  cursor: pointer;
}

#feedbacks .arrows i:hover {
  color: var(--color-pink);
}

#feedbacks .arrows i:active {
  color: var(--color-pink);

  transform: scale(1.2);
  transition: all .5s ease;
}

#feedbacks .container > .img {
  position: absolute;
  bottom: 0;
  left: -16px;
}

#feedbacks .container > .img,
#feedbacks .container > .img img {
  width: 708px;
  height: 558px;
}

/* SECTION - MATERIAL */
#material .column.main {
  gap: 64px;
}

#material .column.title {
  gap: 16px;
}

#material .column.title p {
  width: 376px;

  text-align: center;
}

#material .row.items {
  align-items: flex-start;
  gap: 24px;
}

#material .column.item {
  width: 276px;

  gap: 8px;
}

#material .column.card {
  width: fit-content;
  height: fit-content;

  padding: 8px 0 0;

  gap: 16px;

  background: var(--color-white);
  box-shadow: 0px 0px 16px 0px rgba(26, 18, 28, 0.25);
  border: 2px solid var(--color-white);

  border-radius: 4px;
}

#material .column.card:hover {
  box-shadow: 0px 0px 16px 0px rgba(26, 18, 28, 0.50);

  transform: scale(1.01);
  transition: all 300ms ease-in-out;
}

#material .column.card h6 { 
  color: var(--color-purple);
  
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

#material .column.card .img,
#material .column.card .img img {
  width: 276px;
  height: 276px;
  
  position: relative;

  border-radius: 4px;
}

#material .column.card .img::after {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 0px 0px 8px 0px rgba(26, 18, 28, 0.50) inset;
  border-radius: 4px;

  content: '';
}

#material .column.item p {
  text-align: center;
}

/* SECTION - WARRANTY */
#warranty .container {
  padding: 64px 132px;
}

#warranty .column.main {
  gap: 64px;
}

#warranty .row.main {
  width: 776px;

  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

#warranty .row.main p {
  width: 376px;
}

#warranty .row.main .img,
#warranty .row.main .img img {
  width: 276px;
  height: 276px;
}

#warranty .container > .img {
  position: absolute;
  top: -152px;
  right: 0;
}

#warranty .container > .img,
#warranty .container > .img img {
  width: 408px;
  height: 694px;
}

/* SECTION - OFFER */
#offer .column.main {
  gap: 64px;
}

#offer .column.title {
  gap: 16px;
}

#offer .column.title h6 {
  width: 576px;

  text-align: center;
  font-weight: 500;
}

#offer .column.card {
  width: fit-content;

  padding: 64px 0 16px;

  gap: 32px;

  background-color: var(--color-white);
  border: 2px solid var(--color-blue);

  border-radius: 4px;

  overflow: hidden;
  z-index: 4;
}

#offer .column.card small {
  position: absolute;
  top: 16px;
  right: -80px;
  padding: 8px 80px;

  background-color: var(--color-blue);

  text-align: center;
  font-weight: 700;

  transform: rotate(30deg);
}

#offer .column.card .column.upper {
  gap: 8px;
}

#offer .column.card .column.upper h6 {
  width: 376px;
  
  color: var(--color-purple);
  
  text-align: center;
  font-weight: 700;
}

#offer .column.card .column.upper p {
  text-align: center;
}

#offer .column.card .column.price {
  width: 486px;

  padding: 16px 64px;

  background: var(--color-gray);
  box-shadow: 0px 0px 4px 0px var(--color-black) inset;

  overflow: hidden;
}

#offer .column.card .column.price::before {
  width: 100%;
  height: 20%;

  position: absolute;
  top: auto;
  bottom: auto;
  left: 0;

  background-color: var(--color-blue);
  box-shadow: 0px 0px 16px 8px var(--color-purple);
  filter: blur(8px);

  content: '';

  animation: divRotation 3s linear infinite;
}

#offer .column.card .column.price::after {
  width: 480px;
  height: 161px;

  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;

  background-color: var(--color-gray);

  content: '';
}

@keyframes divRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#offer .column.card .column.price p:first-child {
  width: 100%;

  text-align: left;

  z-index: 2;
}

#offer .column.card .column.price h1 {
  background: linear-gradient(to right, var(--color-pink) 20%, var(--color-blue) 30%, var(--color-purple) 50%, var(--color-pink) 80%);
  background-size: 200% auto;
  color: var(--color-pink);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 2.2s linear infinite;

  font-weight: 700;

  z-index: 2;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#offer .column.card .column.price p:last-child {
  width: 100%;

  text-align: right;

  z-index: 2;
}

#offer .column.down {
  gap: 16px;
}

#offer .column.down p {
  color: var(--color-purple);

  text-transform: uppercase;
  font-weight: 500;
}

#offer .column.down .column.cta {
  align-items: center;
  gap: 4px;
}

#offer .column.down .column.cta a {
  animation: buttonPulse 2s linear infinite;
}

#offer .column.down .column.cta a:hover {
  animation: none;
}

@keyframes buttonPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px 0px #3e84f5a8;
  }
  100% {
    transform: scale(1);
  }
}

#offer .row.imgs {
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#offer .row.imgs .img:first-child,
#offer .row.imgs .img:first-child img {
  width: 146px;
  height: 36px;

  object-fit: cover;
}

#offer .row.imgs .img:last-child,
#offer .row.imgs .img:last-child img {
  width: 76px;
  height: 45px;

  object-fit: cover;
}

#offer .container > .img {
  position: absolute;

  filter: blur(8px);
}

#offer .container > .img#offer-symbol-small {
  top: 16px;
  left: 200px;

  filter: blur(4px);
}

#offer .container > .img#offer-symbol-small,
#offer .container > .img#offer-symbol-small img {
  width: 128px;
  height: 126px;
}

#offer .container > .img#offer-symbol-extra {
  top: 264px;
  right: 200px;

  filter: blur(16px);
}

#offer .container > .img#offer-symbol-extra,
#offer .container > .img#offer-symbol-extra img {
  width: 342px;
  height: 340px;
}

#offer .container > .img#offer-symbol-big {
  bottom: 164px;
  left: 0;
}

#offer .container > .img#offer-symbol-big,
#offer .container > .img#offer-symbol-big img {
  width: 205px;
  height: 306px;
}

#offer .container > .img#offer-symbol-medium {
  bottom: 52px;
  right: 0;
}

#offer .container > .img#offer-symbol-medium,
#offer .container > .img#offer-symbol-medium img {
  width: 101px;
  height: 200px;
}

/* SECTION - DOUBT */
#doubt .container {
  padding: 64px 132px;
}

#doubt .column.main {
  gap: 64px;
}

#doubt .column.title {
  gap: 16px;
}

#doubt .column.title p {
  width: 576px;

  text-align: center;
}

#doubt .column.upper {
  gap: 32px;
}

#doubt .column.upper h5 {
  width: 576px;

  text-align: center;
  font-weight: 700;
}

#doubt .column.upper .row.items {
  gap: 24px;
}

#doubt .column.upper .row.item {
  width: 376px;

  align-items: center;
  gap: 16px;

  background: linear-gradient(95deg, var(--color-pink) 0%, var(--color-purple) 100%);
  box-shadow: 0px 0px 8px 0px var(--color-purple) inset;
  border: 2px solid var(--color-pink);

  border-radius: 4px;
}

#doubt .column.upper .row.item .img,
#doubt .column.upper .row.item .img img {
  width: 168px;
  height: 116px;

  position: relative;

  border-radius: 4px 0 0 4px;
}

#doubt .column.upper .row.item .img::after {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(270deg, #960251 2%, rgba(0, 0, 0, 0.00) 60%), 50% / cover no-repeat;
  box-shadow: 0px 0px 8px 0px var(--color-purple) inset;
  
  border-radius: 4px 0px 0px 4px;

  content: '';
}

#doubt .column.upper .row.item p {
  color: var(--color-white);

  font-weight: 500;
}

#doubt .column.down {
  gap: 32px;
}

#doubt .column.down h5 {
  width: 576px;

  color: var(--color-purple);

  text-align: center;
  font-weight: 700;
}

#doubt .column.down .row.items {
  align-items: flex-start;
  gap: 24px;
}

#doubt .column.down .column.item {
  width: 276px;

  gap: 8px;
}

#doubt .column.down .column.item p {
  text-align: center;
  font-weight: 500;
}

#doubt .column.down .column.item .img,
#doubt .column.down .column.item .img img {
  width: 176px;
  height: 251px;

  border-radius: 4px;

  box-shadow: 0px 4px 16px 0px rgba(26, 18, 28, 0.25);
}

#doubt .column.down .column.cta {
  gap: 16px;
}

#doubt .column.down .column.cta p {
  width: 576px;

  color: var(--color-purple);

  text-align: center;
  font-weight: 500;
}

/* SECTION - FAQ */
#faq .container {
  padding: 0px 132px 64px;
}

#faq .column.main {
  gap: 32px;
}

#faq .column.main h5 {
  width: 576px;

  color: var(--color-purple);

  text-align: center;
  font-weight: 700;
}

#faq .column.items {
  width: 576px;

  gap: 16px;
}

#faq .column.item {
  padding: 8px 16px;

  gap: 32px;

  background: var(--color-purple);
  box-shadow: 0px 4px 8px 0px rgba(26, 18, 28, 0.25);

  border-radius: 4px;
}

#faq .column.open {
  background-color: var(--color-gray);
}

#faq .column.item .ask {
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

#faq .column.open .ask {
  padding: 0px 0px 8px;

  border-bottom: 1px solid var(--color-purple);
}

#faq .column.item .ask h4,
#faq .column.item .ask p {
  color: var(--color-white);

  text-transform: uppercase;
  font-weight: 700;
}

#faq .column.open .ask h4,
#faq .column.open .ask p {
  color: var(--color-purple);
}

#faq .column.item .answer {
  display: none;
}

#faq .column.open .answer {
  width: 100%;

  display: block;

  color: var(--color-purple);

  text-align: left;
}

#faq .container > .img {
  position: absolute;
  right: 0;
  bottom: 0;
}

#faq .container > .img,
#faq .container > .img img {
  width: 408px;
  height: 493px;
}

/* FOOTER */
footer .container {
  padding: 64px 132px 16px;

  background-color: var(--color-black);
}

footer .column.main {
  gap: 64px;
}

footer .row.upper {
  justify-content: space-between;
  align-items: flex-start;
}

footer .row.upper .column.infos {
  align-items: flex-start;
}

footer .row.upper .column.infos small span  {
  font-weight: 700;
}

footer .row.upper .column.infos,
footer .row.upper .row.social {
  width: 276px;
  
  gap: 8px;
}

footer .row.upper .img,
footer .row.upper .img img {
  width: 52px;
  height: 52px;
}

footer .row.upper .row.social {
  align-items: center;
}

footer .row.upper .row.social small {
  text-align: right;
}

footer .row.upper .row.social i {
  color: var(--color-white);
  
  font-size: 24px;
}

footer .row.upper .row.social a {
  width: auto;
}

footer .row.down {
  align-items: flex-start;
  gap: 124px;
}

footer .column.left {
  width: 376px;

  justify-content: flex-start;
  gap: 16px;
}

footer .column.left small a {
  color: var(--color-blue);

  text-decoration: underline;
}

footer .column.left small a:hover {
  color: var(--color-white);
}

footer .column.right {
  width: 676px;

  gap: 16px;
}

footer .column.right .row {
  gap: 24px;
}

footer .column.right .row .img:first-child,
footer .column.right .row .img:first-child img {
  width: 76px;
  height: 40px;
}

footer .column.right .row .img:last-child,
footer .column.right .row .img:last-child img {
  width: 266px;
  height: 40px;
}

footer p,
footer small,
footer span,
footer a {
  width: 100%;

  color: var(--color-white);

  text-align: left;
  font-weight: normal;
}