@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 53px;
  }

  h2 {
    font-size: 43px;
  }

  h3 {
    font-size: 34px;
  }

  h4 {
    font-size: 27px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 17px;
  }

  p {
    font-size: 14px;
  }

  small {
    font-size: 11px;
  }

  /* NAV */
header nav.row {
  padding: 8px 16px;
}

header nav .img:first-child img {
  width: 31px;
  height: 31px;
}

header nav .img:last-child img {
  width: 97px;
  height: 31px;
}

/* SECTION - HERO */
#hero .video > i {
  margin: -80px auto 0;

  font-size: 64px;
}

#hero .video p {
  margin-top: 0px;
}

#hero .video .img {
  top: -53px;
}

#hero .video video {
  top: -53px;
}

.cancel {
  width: 44px;
  height: 44px;

  top: -24px;
  left: 24px;
}

.cancel i { 
  font-size: 24px; 
}

#hero .column.cta {
  width: 100%;

  bottom: 36px;
}

#hero .column.text {
  width: calc(100% - 32px);
  gap: 8px;
}

#hero .column.cta i {
  font-size: 44px;
}


/* SECTION - BENEFITS */
#benefits .column.main h2 {
  width: calc(100% - (61px * 2));
}

#benefits .column.items {
  gap: 16px;
}

#benefits .column.title {
  width: calc(100% - 32px);
  
  gap: 0;
}

#benefits .column.title i {
  font-size: 52px;
}

#benefits .row.items {
  flex-direction: column;
  gap: 8px;
}

#benefits .row.item {
  width: 100%;

  gap: 16px;
}

#benefits .row.item .img,
#benefits .row.item .img img {
  width: 60px;
  height: 60px;
}

#benefits .container > .img {
  top: 64px;
  right: -8px;
}

#benefits .container > .img,
#benefits .container > .img img {
  width: 129px;
  height: 109px;
}


/* SECTION - INHOME */
#inhome .column.main {
  gap: 32px;
}

#inhome .column.items {
  gap: 16px;
}

#inhome .row.items {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

#inhome .row.items:first-child,
#inhome .row.items:last-child {
  justify-content: center;
}

#inhome .row.item {
  padding: 0;

  flex-direction: column;
  gap: 8px;

  border-radius: 4px;
  background: linear-gradient(140deg, #E8E8E8 20%, rgba(232, 232, 232, 0.30) 80%);
}

#inhome .row.item .img,
#inhome .row.item .img img {
  width: 200px;
  height: 146px;
  
  border-radius: 4px 4px 0 0;
}

#inhome .row.item .img img {
  box-shadow: 0px 4px 8px 0px rgba(68, 0, 81, 0.25);
}

#inhome .row.item .column.text {
  width: 200px;

  padding: 0 16px 8px;
}

#inhome .row.item .column.text h5 {
  font-size: 17px;
}

#inhome .column.ship {
  width: 161px;

  z-index: 2;
}

#inhome .container > .img {
  bottom: 46px;
}

#inhome .container > .img,
#inhome .container > .img img {
  width: 152px;
  height: 310px;
}

/* SECTION - FEEDBACKS */
#feedbacks .container {
  padding: 64px 16px 116px;
}

#feedbacks .column.main {
  gap: 44px;
}

#feedbacks .column.main h2 {
  width: 232px;
}

#feedbacks .column.carousel {
  gap: 16px;
}

#feedbacks .row.carousel {
  gap: 16px;
}

#feedbacks .column.text {
  width: 288px;

  padding: 8px;

  gap: 8px;
}

#feedbacks .arrows {
  gap: 16px;
}

#feedbacks .container > .img {
  position: absolute;
  bottom: 0;
  left: -32px;
}

#feedbacks .container > .img,
#feedbacks .container > .img img {
  width: 288px;
  height: 293px;
}

/* SECTION - MATERIAL */
#material .column.main {
  gap: 32px;
}

#material .column.title {
  gap: 8px;
}

#material .column.title p {
  width: 100%;
}

#material .row.items {
  justify-content: center;
  flex-wrap: wrap;
}

#material .column.item {
  width: 288px;
}

#material .column.card {
  gap: 8px;
}

#material .column.card .img,
#material .column.card .img img {
  width: 288px;
  height: 200px;
}


/* SECTION - WARRANTY */
#warranty .container {
  padding: 44px 16px;
}

#warranty .column.main {
  gap: 32px;
}

#warranty .column.main h2 {
  width: 209px;
}

#warranty .row.main {
  width: 100%;

  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 8px;
}

#warranty .row.main p {
  width: 212px;
}

#warranty .row.main .img {
  margin: 0 auto;
}

#warranty .row.main .img,
#warranty .row.main .img img {
  width: 136px;
  height: 136px;
}

#warranty .container > .img {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;

  z-index: -1;
}

#warranty .container > .img,
#warranty .container > .img img {
  width: 152px;
  height: 338px;
}

/* SECTION - OFFER */
#offer .column.main {
  gap: 44px;
}

#offer .column.title {
  gap: 8px;
}

#offer .column.title h6 {
  width: 100%;
}

#offer .column.card .column.upper h6 {
  width: 100%;
}

#offer .column.card .column.price {
  width: 320px;

  padding: 16px;
}

#offer .column.card .column.price::after {
  width: 314px;
  height: 131px;
}

#offer .column.down .column.cta a.cta {
  padding: 16px;
}

#offer .row.imgs {
  gap: 16px;
}

#offer .row.imgs .img:first-child,
#offer .row.imgs .img:first-child img {
  width: 109px;
  height: 27px;
}

#offer .row.imgs .img:last-child,
#offer .row.imgs .img:last-child img {
  width: 60px;
  height: 35px;
}

#offer .container > .img#offer-symbol-small {
  left: 0;
}

#offer .container > .img#offer-symbol-small,
#offer .container > .img#offer-symbol-small img {
  width: 59px;
  height: 84px;
}

#offer .container > .img#offer-symbol-extra {
  display: none;
}

#offer .container > .img#offer-symbol-big {
  bottom: 0;
  left: 0;
}

#offer .container > .img#offer-symbol-big,
#offer .container > .img#offer-symbol-big img {
  width: 196px;
  height: 194px;
}

#offer .container > .img#offer-symbol-medium {
  top: 200px;
  right: 0;
  bottom: auto;
}

#offer .container > .img#offer-symbol-medium,
#offer .container > .img#offer-symbol-medium img {
  width: 118px;
  height: 116px;
}


/* SECTION - DOUBT */
#doubt .container {
  padding: 32px 16px;
}

#doubt .column.main {
  gap: 32px;
}

#doubt .column.title {
  gap: 8px;
}

#doubt .column.title p {
  width: 100%;
}

#doubt .column.upper h5 {
  width: 100%;
}

#doubt .column.upper .row.items {
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

#doubt .column.upper .row.item {
  width: 288px;
}

#doubt .column.upper .row.item .img,
#doubt .column.upper .row.item .img img {
  width: 136px;
  height: 80px;
}

#doubt .column.down h5 {
  width: 100%;
}

#doubt .column.down .row.items {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

#doubt .column.down .column.item {
  width: 136px;
}

#doubt .column.down .column.item .img,
#doubt .column.down .column.item .img img {
  width: 136px;
  height: 200px;
}

#doubt .column.down .column.cta p {
  width: 100%;
}

#doubt .column.down .column.cta a.cta {
  padding: 16px;
}

/* SECTION - FAQ */
#faq .container {
  padding: 0px 16px 32px;
}

#faq .column.main h5 {
  width: 100%;
}

#faq .column.items {
  width: 100%;
}

#faq .column.item {
  gap: 16px;
}

#faq .column.open .ask {
  padding: 0px 0px 4px;
}

#faq .container > .img {
  position: absolute;
  right: 0;
  bottom: 0;

  z-index: -1;
}

#faq .container > .img,
#faq .container > .img img {
  width: 320px;
  height: 387px;
}


/* FOOTER */
footer .container {
  padding: 64px 16px 16px;
}

footer .row.upper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

footer .row.upper .column.infos {
  justify-content: center;
  align-items: center;
}

footer .row.upper .column.infos,
footer .row.upper .row.social {
  width: 100%;
}

footer .row.down {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

footer .column.left {
  width: 100%;

  justify-content: center;
  gap: 16px;
}

footer .column.right {
  width: 100%;
}

footer .column.right .row {
  gap: 16px;
}

footer .column.right .row .img:first-child,
footer .column.right .row .img:first-child img {
  width: 60px;
  height: 32px;
}

footer .column.right .row .img:last-child,
footer .column.right .row .img:last-child img {
  width: 212px;
  height: 32px;
}

footer p,
footer small,
footer span,
footer a {
  text-align: center;
}

}