@media (min-width: 767px) and (max-width: 1199px) {
  h1 {
    font-size: 61px;
  }

  h2 {
    font-size: 49px;
  }

  h3 {
    font-size: 39px;
  }

  h4 {
    font-size: 31px;
  }

  h5 {
    font-size: 25px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  small {
    font-size: 13px;
  }

  /* NAV */
header nav.row {
  padding: 8px 32px;
}

header nav .img:first-child img {
  width: 37px;
  height: 37px;
}

header nav .img:last-child img {
  width: 117px;
  height: 37px;
}

/* SECTION - HERO */
#hero .video > i {
  margin: -72px auto 0;

  font-size: 72px;
}

#hero .video .img {
  top: -60px;
}

#hero .video video {
  top: -60px;
}

#hero .column.cta {
  width: calc(100% - 32px);
}

/* SECTION - BENEFITS */
#benefits .column.title {
  width: 342px;
}

#benefits .column.title i { 
  font-size: 70px;
}

#benefits .row.items {
  padding: 16px 32px;

  gap: 20px;
}

#benefits .row.item {
  width: 342px;

  gap: 20px;
}

#benefits .row.item .img,
#benefits .row.item .img img {
  width: 70px;
  height: 70px;
}

#benefits .container > .img {
  top: 64px;
}

#benefits .container > .img,
#benefits .container > .img img {
  width: 259px;
  height: 177px;
}

#benefits .container > .img img {
  animation: rotate 4s linear infinite;
}

/* SECTION - INHOME */
#inhome .column.items {
  gap: 16px;
}

#inhome .row.items {
  padding: 0 70px;

  flex-direction: column;
  gap: 16px;
}

#inhome .row.items:first-child,
#inhome .row.items:last-child {
  align-items: flex-start;
}

#inhome .row.item {
  padding: 0 20px 0 0;

  gap: 20px;
}

#inhome .row.items:first-child .row.item:last-child,
#inhome .row.items:last-child .row.item:last-child {
  margin: 0 0 0 auto;
}

#inhome .row.item .img,
#inhome .row.item .img img {
  width: 161px;
  height: 161px;
}

#inhome .row.item .column.text {
  width: 252px;
}

#inhome .column.ship {
  width: 161px;
}

#inhome .container > .img,
#inhome .container > .img img {
  width: 193px;
  height: 393px;
}

/* SECTION - FEEDBACKS */
#feedbacks .container {
  padding: 64px 32px 124px;
}

#feedbacks .row.carousel {
  gap: 90px;
}

#feedbacks .column.text {
  width: 342px;

  padding: 8px;

  gap: 8px;
}

#feedbacks .arrows {
  gap: 20px;
}

#feedbacks .container > .img,
#feedbacks .container > .img img {
  width: 374px;
  height: 399px;
}

/* SECTION - MATERIAL */
#material .column.main {
  gap: 32px;
}

#material .column.title {
  gap: 8px;
}

#material .column.title p {
  width: 342px;
}

#material .row.items {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 16px;
}

#material .column.item {
  width: 342px;
}

#material .column.card .img,
#material .column.card .img img {
  width: 342px;
}

/* SECTION - WARRANTY */
#warranty .container {
  padding: 64px 32px;
}

#warranty .column.main {
  gap: 32px;
}

#warranty .row.main {
  width: 100%;

  justify-content: flex-end;
  gap: 20px;
}

#warranty .row.main p {
  width: 342px;
}

#warranty .row.main .img,
#warranty .row.main .img img {
  width: 161px;
  height: 161px;
}

#warranty .container > .img {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

#warranty .container > .img,
#warranty .container > .img img {
  width: 193px;
  height: 396px;
}

/* SECTION - OFFER */
#offer .column.title {
  gap: 8px;
}

#offer .column.title h6 {
  width: 523px;
}

#offer .column.card .column.upper h6 {
  width: 342px;
}

#offer .row.imgs {
  gap: 16px;
}

#offer .row.imgs .img:last-child,
#offer .row.imgs .img:last-child img {
  width: 70px;
  height: 41px;
}

#offer .container > .img#offer-symbol-small {
  top: 16px;
  left: 0;

  filter: blur(4px);
}

#offer .container > .img#offer-symbol-small,
#offer .container > .img#offer-symbol-small img {
  width: 76px;
  height: 104px;
}

#offer .container > .img#offer-symbol-extra {
  top: 172px;
  right: 0;
}

#offer .container > .img#offer-symbol-extra,
#offer .container > .img#offer-symbol-extra img {
  width: 239px;
  height: 286px;
}

#offer .container > .img#offer-symbol-big,
#offer .container > .img#offer-symbol-big img {
  width: 106px;
  height: 260px;
}

#offer .container > .img#offer-symbol-medium {
  bottom: 32px;
}

#offer .container > .img#offer-symbol-medium,
#offer .container > .img#offer-symbol-medium img {
  width: 69px;
  height: 140px;
}


/* SECTION - DOUBT */
#doubt .container {
  padding: 32px 32px;
}

#doubt .column.main {
  gap: 32px;
}

#doubt .column.title {
  gap: 8px;
}

#doubt .column.title p {
  width: 523px;
}

#doubt .column.upper h5 {
  width: 342px;

  text-align: center;
  font-weight: 700;
}

#doubt .column.upper .row.items {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

#doubt .column.upper .row.item {
  width: 342px;

  padding: 0 8px 0 0;
  
  gap: 20px;
}

#doubt .column.upper .row.item .img,
#doubt .column.upper .row.item .img img {
  width: 161px;
  height: 100px;
}

#doubt .column.down h5 {
  width: 342px;
}

#doubt .column.down .row.items {
  justify-content: center;
  gap: 20px;
}

#doubt .column.down .column.item {
  width: 161px;
}

#doubt .column.down .column.item .img,
#doubt .column.down .column.item .img img {
  width: 161px;
  height: 231px;
}

#doubt .column.down .column.cta p {
  width: 523px;
}


/* SECTION - FAQ */
#faq .container {
  padding: 32px;
}

#faq .column.main {
  align-items: flex-start;
}

#faq .column.main h5 {
  width: 100%;
}

#faq .column.items {
  width: 433px;

  gap: 16px;
}

#faq .column.item {
  gap: 16px;
}

#faq .column.open .ask {
  padding: 0px 0px 4px;
}

#faq .container > .img {
  z-index: -1;
}

#faq .container > .img,
#faq .container > .img img {
  width: 374px;
  height: 452px;
}


/* FOOTER */
footer .container {
  padding: 64px 32px 16px;
}

footer .row.upper .column.infos,
footer .row.upper .row.social {
  width: 252px;
}

footer .row.down {
  gap: 20px;
}

footer .column.left {
  width: 342px;
}

footer .column.right {
  width: 342px;
}

footer .column.right .row {
  gap: 20px;
}

footer .column.right .row .img:first-child,
footer .column.right .row .img:first-child img {
  width: 71px;
  height: 37px;
}

footer .column.right .row .img:last-child,
footer .column.right .row .img:last-child img {
  width: 251px;
  height: 38px;
}
}